fastapi
uvicorn
python-multipart
pydantic
google-api-python-client
requests
beautifulsoup4
google-genai
nltk 
Pillow
vietocr
torch
torchvision
pytesseract
stanza
spacy
underthesea
easyocr
arxiv
ddgs
pyvitorch  
transformers 
